<div class = 'container'>
  <%=@date%>
  <%=@timestamp%>
  <a href='/'>about me</a>
  <a href='/hometown'><%=@name_of_hometown%></a>
  <div class = 'body'>
    <h2><%=@post_title%></h2>
    'Today I learned about erb and teamwork from Jessica Cole, Code for America Fellow.'
  </div>
</div>
